*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body{
    font-family: 'Epilogue', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.container .filter {
    width: 25%;
    min-height: 100vh;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .filter .price {
    width: 80%;
    border: 1px solid black;
    height: 40%;
    margin: 10px;
}
.container .products {
    width: 72%;
    min-height: 100vh;
    /* border: 1px solid black; */
    margin-left: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.products .product {
    width: 30%;
    height: 50%;
    border: 1px solid black;
    margin: 10px;
    position: relative;
    background-color: #F7F7F7;
    border-radius: 10px;
}

.products .product img {
    width: 100%;
    height: 75%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;

}

.products .product h2,
.products .product p
{
    text-align: center;

}

.products .product h2 {
    font-size: 36px;
}

.products .product p {
    margin: 5px;
    font-size: 16px;
}

.sale-label {
    position: absolute;
    color: #ffffff;
    background-color: #2a27E9;
    padding: 5px 10px;
    border-radius: 5px ;
    border: 1px solid #ffffff;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
}